.content {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#yesButton {
    background-color: #4CAF50;
    margin: 10px;
}

#yesButton:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

#noButton {
    background-color: #f44336;
    position: absolute;
    margin: 10px;
}

#noButton:hover {
    background-color: #d32f2f;
}

.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1000;
}
